:root {
  --bg-padding-md: 148px;
  --border-radius-lg: 1rem;
  --border-radius-md: 0.5rem;
  --border-radius-sm: 0.25rem;
  --container-width: 91.67%;
  --error-color: #ff444e;
  --gradient-grayscale: linear-gradient(180deg, #191919 58.55%, #0a0a0a 75.76%);
  --gradient-warm: linear-gradient(93.44deg, #ff7898, #ffad4d);
  --grayscale-black: #000;
  --grayscale-charcoal: #191919;
  --grayscale-dark: #212121;
  --grayscale-medium: #303030;
  --grayscale-semi-black: #0c0c0c;
  --grayscale-light: #c5c5c5;
  --grayscale-white: #fff;
  --max-width: 1208px;
  --nav-bar-height: 74px;
  --palette-first: #ff7898;
  --palette-fourth: #22d4ff;
  --palette-second: #ffad4d;
  --palette-third: #b893ff;
  --palette-first-dark: #8a4757;
  --palette-fourth-dark: #147f99;
  --palette-second-dark: #99682e;
  --palette-third-dark: #6e5899;
}

.light {
  --foreground: var(--grayscale-charcoal);
  --background: var(--grayscale-white);
}

.dark {
  --foreground: var(--grayscale-white);
  --background: var(--grayscale-charcoal);
}

@font-face {
  font-family: "ExtendedBold";
  src: url("https://zeal.com/_next/static/media/a36449e31a85b28d-s.p.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "ExtendedBoldFallback";
  src: local("Arial");
}

@font-face {
  font-family: "Mono";
  src: url("https://zeal.com/_next/static/media/873cd04954fd7b3a-s.p.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 400;
}

body {
  font-family: "ExtendedBold", "ExtendedBoldFallback", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.045em;
  line-height: 4.25rem;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
}

h3 {
  font-family: "Mono", Arial, sans-serif;
  font-size: 64px;
}
